/* GENERAL */

html {
  background-image: url(images/background.jpg);
}

img {
  width: 200px;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 70px;
  font-family: "Grand Hotel", cursive;
  margin-top: 50px;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-family: "Slabo 27px", serif;
}

p {
  font-size: 20px;
  font-family: "Amiri", serif;
}

#school_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 150px;
  border-bottom: black solid 2px;
  padding: 0 0 40px;
}

#student_amount {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  font-family: "Slabo 27px", serif;
}

#total_houses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#total_hufflepuff {
  color: yellow;
}
#total_gryffindor {
  color: red;
}
#total_ravenclaw {
  color: blue;
}
#total_slytherin {
  color: green;
}

/* STUDENTLIST */

#list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5vw;
}

.student {
  border: 2px solid black;
  margin: 4px;
  padding: 10px;
  background-size: cover;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.student img {
  margin: 0 auto;
}

.student h2,
.student p {
  background-color: #f9ecbf;
  text-align: center;
  width: 70%;
  margin: 10px auto;
}

/* SORTING AND FILTERING */

.house_content {
  display: none;
}

#dropdown_houses {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

#chosen_house img {
  width: 300px;
}

.house img {
  width: 100px;
}

#chosen_house {
  display: flex;
  flex-direction: row;
}

.house_content {
  position: absolute;
  z-index: 1;
  flex-direction: column;
  left: 40vw;
}
#first {
  margin: 0 auto;
}
#second,
#third {
  display: flex;
  flex-direction: row;
}

.fa-angle-down:before {
  font-size: 50px;
}

i {
  margin: 150px 20px;
}

#options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 300px;
}

select {
  font-size: 20px;
  font-family: "Slabo 27px", serif;
  cursor: pointer;
  background-color: #f9ecbf;
}

.show {
  display: flex;
}

/* POPUP */

#popup {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  background-size: cover;
  transition: 0.5s;
  display: none;
}

#close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 80px;
  cursor: pointer;
  display: none;
  color: #f9ecbf;
}

.popup_content .student {
  border: none;
}

.popup_content .student h2,
.popup_content .student p {
  text-align: center;
  width: 60%;
  margin: 8px auto;
}

#crest img {
  width: 150px;
  margin: 20px;
}

.popup_content img {
  width: 250px;
  margin: -180px auto 10px;
  z-index: 11;
}

button {
  width: 50%;
  margin: 8px auto 4px;
  height: 40px;
  background-color: #f9ecbf;
  font-family: "Amiri", serif;
  font-size: 20px;
  border: black solid 2px;
  box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
}

#top {
  background-color: #f9ecbf;
  width: 50%;
  margin: 0 auto;
}

#popup p,
#popup h2 {
  text-align: left;
}

#popup h2 {
  width: 100%;
  text-align: center;
}

/* MEDIAQUERIES */

@media only screen and (max-width: 1300px) {
  #school_info {
    margin: 50px 10px;
  }
  #crest img {
    width: 100px;
  }
  .popup_content img {
    margin: -100px auto 10px;
  }

  #top,
  button {
    width: 70%;
  }
}
@media only screen and (max-width: 950px) {
  #school_info {
    flex-direction: column;
    margin: 50px 50px 0;
    padding: 0px;
  }

  #total_houses {
    justify-content: space-around;
  }

  #student_amount {
    height: 150px;
    justify-content: space-between;
    margin: 50px 0;
  }

  .house_content {
    left: 60vw;
  }

  #options {
    justify-content: space-between;
    margin: 10px 200px;
  }
  #list {
    grid-template-columns: 1fr 1fr;
  }

  #popup {
    width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  #chosen_house img {
    width: 200px;
    height: 250px;
    margin: 50px 10px;
  }

  #options {
    justify-content: space-between;
    margin: 10px 50px;
  }
}

@media only screen and (max-width: 560px) {
  #chosen_house img {
    width: 200px;
    height: 210px;
    margin: 0px 10px 100px;
  }

  i {
    margin: 90px 20px;
  }
  .house_content {
    left: 20px;
    top: 520px;
    flex-direction: row;
  }

  .house_content img {
    width: 90px;
  }

  #list {
    grid-template-columns: 1fr;
  }

  #popup {
    width: 80%;
  }
}
